body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    /*horizontal*/
    flex-direction: row;
    /*vertical*/
    /*flex-direction: column;*/
}

nav a {
    width: 84px;
    height: 84px;
    background-image: url(css-pr4.png);
}

#facebook {
    background-position: 0px -84px
}

#facebook:hover {
    background-position: 0px 0px
}

#flicker {
    background-position: -84px -84px
}

#flicker:hover {
    background-position: -84px 0px
}

#dribbble {
    background-position: -168px -84px
}

#dribbble:hover {
    background-position: -168px 0px
}

#google {
    background-position: -252px -84px
}

#google:hover {
    background-position: -252px 0px
}

#linkedin {
    background-position: -336px -84px
}

#linkedin:hover {
    background-position: -336px 0px
}

#pinterest {
    background-position: -420px -84px
}

#pinterest:hover {
    background-position: -420px 0px
}

#wifi {
    background-position: -504px -84px
}

#wifi:hover {
    background-position: -504px 0px
}

#skype {
    background-position: -588px -84px
}

#skype:hover {
    background-position: -588px 0px
}

#vimeo {
    background-position: -672px -84px
}

#vimeo:hover {
    background-position: -672px 0px
}

#twitter {
    background-position: -756px -84px
}

#twitter:hover {
    background-position: -756px 0px
}

#youtube {
    background-position: -840px -84px
}

#youtube:hover {
    background-position: -840px 0px
}